<div class="file-editor-container">
    <div class="editor-header">
        <h3 id="editor-title">$$title</h3>
        <div class="editor-actions">
            <button class="theme-toggle-button" data-local-action="toggleTheme">Toggle Theme</button>
        </div>
    </div>
    <div class="editor-wrapper">
        <div class="line-numbers"></div>
        <div class="code-wrapper">
            <textarea class="code-input" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"></textarea>
            <pre class="code-output" aria-hidden="true"><code class="language-js"></code></pre>
        </div>
    </div>
</div>
