<div class="file-editor-container">
    <div class="editor-header">
        <h3 id="editor-title">$$title</h3>
<!--        <div class="editor-actions">
            <button class="save-button" data-local-action="saveFile">Save</button>
            <button class="cancel-button" data-local-action="cancelEdit">Cancel</button>
        </div>-->
    </div>
    <div class="editor-wrapper">
        <textarea class="code-input" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"></textarea>
        <pre class="code-output" aria-hidden="true"><code class="language-js"></code></pre>
    </div>
</div>
