<div class="modal-header">
    <div class="modal-title">New branch</div>
    <div class="close" data-local-action="cancel" aria-label="Close">
        <img class="close-icon" src="/explorer/assets/icons/x-mark.svg" alt="close">
    </div>
</div>
<form class="modal-body git-branch-create-modal">
    <label class="form-item">
        <span class="form-label">Branch name</span>
        <input id="gitBranchCreateName" class="form-input" name="name" type="text" autocomplete="off" spellcheck="false">
    </label>
    <label class="form-item">
        <span class="form-label">Start point</span>
        <custom-select id="gitBranchCreateStartPoint"
                       data-presenter="custom-select"
                       name="startPoint"
                       data-options="$$startPointOptions"
                       data-selected="$$startPointSelected"></custom-select>
    </label>
    <label class="git-branch-create-check">
        <input type="checkbox" name="checkout" checked>
        <span>Checkout branch after creation</span>
    </label>
    <div class="git-branch-create-error" data-git-branch-create-error hidden></div>
    <div class="bottom-modal-section modal-actions">
        <button class="general-button" type="submit">Create</button>
        <button class="gray-button" type="button" data-local-action="cancel">Cancel</button>
    </div>
</form>
