list-item {
    width: 100%;
    color: var(--default-font-color);
}
list-item[data-highlight="dark"] .list-item__root {
    color: var(--white);
}
list-item[data-highlight="dark"]:hover .list-item__root {
    background-color: var(--black);
}
list-item[data-highlight="light"]:hover .list-item__root {
    background-color: var(--action-button-background);
}
list-item.disabled .list-item__root {
    pointer-events: none;
    background-color: var(--very-light-gray);
}
list-item[data-highlight="light"].selected .list-item__root {
    background-color: var(--action-button-background);
}
.list-item__root {
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.list-item__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: 10px;
}
