<form class="webmeet-blackboard-poll-modal" data-role="form">
    <div class="modal-header">
        <div class="modal-header-left">
            <div class="modal-title" data-role="title">Poll</div>
            <div class="modal-subtitle" data-role="subtitle"></div>
        </div>
        <button type="button" class="close" data-local-action="closeModal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="webmeet-blackboard-poll-modal-description" data-role="description"></div>
        <div class="webmeet-blackboard-poll-modal-layout" data-role="questions"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="gray-button" data-local-action="closeModal">Cancel</button>
        <button type="submit" class="general-button" data-role="submit">Submit</button>
    </div>
</form>
