<div class="git-credentials-card" id="gitCredentialsPrompt">
    <div class="git-credentials-title">Git credentials</div>
    <div class="git-credentials-row">
        <label class="git-credentials-label" for="gitCredentialsName">Name</label>
        <input id="gitCredentialsName" type="text" autocomplete="off" spellcheck="false" />
    </div>
    <div class="git-credentials-row">
        <label class="git-credentials-label" for="gitCredentialsEmail">Email</label>
        <input id="gitCredentialsEmail" type="text" autocomplete="off" spellcheck="false" />
    </div>
    <div class="git-credentials-hint">Token (PAT) is required for HTTPS push.</div>
    <div class="git-credentials-row">
        <label class="git-credentials-label" for="gitCredentialsToken">Token</label>
        <input id="gitCredentialsToken" type="password" autocomplete="off" spellcheck="false" />
    </div>
    <div class="git-credentials-actions">
        <label class="git-toggle git-toggle-small">
            <input type="checkbox" id="gitCredentialsRemember">
            Remember
        </label>
        <div class="git-credentials-buttons">
            <button type="button" class="secondary" data-local-action="cancelGitCredentials">Cancel</button>
            <button type="button" data-local-action="saveGitCredentials">Save</button>
        </div>
    </div>
</div>
