<div class="entries">
    <table>
        <thead>
        <tr>
            <th>
                <button type="button" class="sort-button" data-sort-key="name" aria-sort="none">
                    Name
                    <span class="sort-indicator" aria-hidden="true"></span>
                </button>
            </th>
            <th class="col-type">Type</th>
            <th class="col-size">
                <button type="button" class="sort-button" data-sort-key="size" aria-sort="none">
                    Size
                    <span class="sort-indicator" aria-hidden="true"></span>
                </button>
            </th>
            <th class="col-modified">
                <button type="button" class="sort-button" data-sort-key="modified" aria-sort="none">
                    Modified
                    <span class="sort-indicator" aria-hidden="true"></span>
                </button>
            </th>
            <th class="col-actions"></th>
        </tr>
        </thead>
        <tbody id="entriesBody"></tbody>
    </table>
</div>
