<div class="modal-header">
    <div class="modal-title">$$titleText</div>
    <div class="close" data-local-action="cancel" aria-label="Close">
        <img class="close-icon" src="/explorer/assets/icons/x-mark.svg" alt="close">
    </div>
</div>
<div class="modal-body git-branch-select-modal">
    <input
            id="gitBranchSelectFilter"
            class="form-input"
            type="search"
            placeholder="Filter branches"
            autocomplete="off"
            spellcheck="false"
    >
    <div class="git-branch-select-list" role="listbox" aria-label="Branches">
        $$branchesHTML
    </div>
    <div class="bottom-modal-section modal-actions">
        <button class="gray-button" data-local-action="cancel">Cancel</button>
    </div>
</div>
