<div class="modal-header">
    <div class="modal-title">New repository</div>
    <div class="close" data-local-action="closeModal" aria-label="Close">
        <img class="close-icon" src="/explorer/assets/icons/x-mark.svg" alt="close">
    </div>
</div>
<div class="modal-body git-new-repository-modal-body">
    <form class="git-new-repository-form" data-git-new-repository-form>
        <label class="git-new-repository-field" for="gitNewRepositoryName">
            <span>Name</span>
            <input id="gitNewRepositoryName" name="name" type="text" autocomplete="off" spellcheck="false" required>
        </label>
        <label class="git-new-repository-field" for="gitNewRepositoryRemote">
            <span>Remote</span>
            <input id="gitNewRepositoryRemote" name="remote" type="text" autocomplete="off" spellcheck="false" required value="origin">
        </label>
        <label class="git-new-repository-field" for="gitNewRepositoryRemoteUrl">
            <span>Remote URL</span>
            <input id="gitNewRepositoryRemoteUrl" name="remoteUrl" type="text" autocomplete="off" spellcheck="false" required>
        </label>
        <div class="git-new-repository-error" data-git-new-repository-error hidden></div>
        <div class="bottom-modal-section modal-actions">
            <button class="general-button" type="submit">Create</button>
            <button class="gray-button" type="button" data-local-action="closeModal">Cancel</button>
        </div>
    </form>
</div>
