webmeet-tool-button {
    display: block;
    width: 100%;
    text-align: center;
}

.app-toolbar-slot webmeet-tool-button,
webmeet-tool-button[data-host-orientation="horizontal"] {
    width: auto;
    text-align: initial;
}

.app-plugin-bar webmeet-tool-button {
    width: 100%;
    text-align: center;
}

webmeet-tool-button .webmeet-tool {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.app-toolbar-slot webmeet-tool-button .webmeet-tool,
webmeet-tool-button[data-host-orientation="horizontal"] .webmeet-tool {
    width: auto;
}
